@font-face {
  font-family: Inter-Medium;
  src: url("fonts/Inter-Medium.otf");
}

@font-face {
  font-family: Inter-Regular;
  src: url("fonts/Inter-Regular.otf");
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px dashed blue;
  font-size: 12px;
  font-family: Inter-Regular;
  color: white;
  background-color: black;
}

body {
  border: 1px dashed red;
}

.websiteContainer {
  width: auto;
  margin: 24px;
}

.headerContainer {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin-bottom: 24px;
}

.column {
  width: 50%;
  padding-right: 12px;
}

.contentContainer {
  display: block;
}

.collapsibleContainer {
  width: auto;
  margin-bottom: 24px;
}

.collapsibleContainerTitle {
  margin-bottom: 12px;
  font-size: 16px;

}

.collapsible {

  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  text-align: left;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-top: -1px;
}


.active, .collapsible:hover {
  color: #000000;
  background-color: #00ff00;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #00ff00;
}

.collapsibleImage {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 900px) {

  .contentContainer {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .collapsibleContainer {
    max-width: 400px;
    margin-right: 16px;

  }

}
